.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --on: hidden;
  --background-color: #ffc2e6;
  --text-color: #353430;
  --title-accent: #ff8dcb;
  --accent-text-color: #353430;
  --title-text:#353430;
  --title-text-color: #353430;
  --heading-color: #ffc2e6;
  --theme-menu-color: #353430;
  --theme-menu-hover-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --on: hidden;
    --background-color: #ffc2e6;
    --text-color: #353430;
    --title-accent: #ff8dcb;
    --accent-text-color: #353430;
    --title-text:#353430;
    --heading-color: #ffc2e6;
    --theme-menu-color: #353430;
    --theme-menu-hover-color: rgba(50, 49, 45, 0.4);
  }
}