.page {
  display: flex;
  flex-direction: column;
  background-image: var(--background-image);
  background-color: var(--background-color);
  color: var(--title-text-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 40px;
  background-attachment: fixed;
  margin: auto;
  padding: 10px;
}

@media (width >=768px) {
  .page {
    padding: 20px;
  }
}

/**/

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--title-accent);
  border-inline-end: 1px solid var(--title-accent);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--title-accent);
  border-left: 1px solid var(--title-accent);
  inline-size: 25px;
  block-size: 25px;
}

@media (width >=768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.header__decoration-dark {
  top: 10px;
  right: 20px;
  position: absolute;
  display:inline-block;
  visibility: var(--on);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  text-transform: uppercase;
  font-size: var(--regular-font-size);
  color: var(--title-accent);
  line-height: 25px;
}

@media (width >=768px) {
  .header__decoration-dark {
    top: 20px;
    right: 30px;
  }
}

.header__decoration-dark::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--title-accent);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--title-accent);
  align-self: center;
}

/*Header*/

.header {
  height: 100vh;
  color: var(--title-accent);
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

@media (width >= 1024px){
  .header {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-items: center;
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column: 2;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width >=1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 5px 13px;
  color: var(--theme-menu-color);
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--regular-font-weight);
  line-height: var(--regular-line-height);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--theme-menu-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__heading {
  grid-column: 1/3;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0px var(--title-accent);
  font-family: var(--font-family);
  font-style: var(--regular-font-style);
  font-weight: var(--bold-font-weight);
  line-height: 82.5%;
}

@media (width >=768px) {
  .header__heading {
    grid-column: 1/-1;
    grid-row: 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__text {
  grid-column: 1/3;
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--bold-font-weight);
  line-height: 130%;
  inline-size: 100%;
} 

@media (width >=768px) {
  .header__text {
    grid-row: 3;
    grid-column: 2/-1;
  }
}

.title-acent {
  background-color: var(--title-accent);
  color: var(--title-text-color);
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--bold-font-weight);
  line-height: 130%;
  margin: 0;
}

/*Main text*/

.text-link {
  text-shadow: 2px 2px 0px var(--title-accent);
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--regular-font-weight);
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.reasons {
  display: grid;
  grid-template-rows: auto;
  padding: 0;
  color: var(--text-color);
  gap: 40px;
}

.reasons-why {
  display: grid;
  gap: 20px;
  list-style: none;
  grid-template-rows:minmax(min-content, max-content);
  padding: 0;
}

@media (width >= 768px) {
  .reasons-why {
    grid-template-columns: 1fr 2fr;
  }
  .reasons__heading {
    grid-column: 1;
  }
  .reasons__list-text {
    grid-column: 2;
  }
}

.reasons-why__list {
  gap: 20px;
}

.reasons-what {
  display: grid;
  gap: 20px;
  list-style: none;
  grid-template-rows:minmax(min-content, max-content);
  grid-auto-flow: row;
  padding: 0;
  margin: 0;
}

.how-to {
  display: grid;
  gap: 20px;
  list-style: none;
  grid-template-rows:minmax(min-content, max-content);
  padding: 0;
  margin: 0;
}

.how-to__title-acent {
  background-color: var(--title-accent);
  color: var(--title-text-color);
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--bold-font-weight);
  line-height: 130%;
  margin: 0;
}

.reasons__heading {
  color: var(--title-text);
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--bold-font-weight);
  line-height: 130%;
}

.reasons__list-text {
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--regular-font-weight);
  line-height: 130%;
  margin: 10px 0 20px 0;
}

.reasons-what__list {
  gap: 20px;
}

@media (width >= 768px) {
  .how-to {
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .how-to__title-acent {
    grid-column: 2;
    block-size: min-content;
  }
  .how-to__list {
    grid-column: 2;
  }
}

.how-to__list {
  gap: 20px;
}

.accent-text {
  color: var(--accent-text-color);
  background-color: var(--title-accent);
  font-family: var(--font-family);
  font-size: var(--regular-font-size);
  font-style: var(--regular-font-style);
  font-weight: var(--regular-font-weight);
  line-height: 130%;
}

/*Gallery*/

.gallery {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

@media (width >=768px) {
  .gallery {
    gap: 20px;
  }
}

.gallery__list {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  padding: 0;
  margin: 0;
  gap: 10px;
}

@media (width >=768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3;
  }
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

/*Footer*/

.footer {
  display: grid;
  margin: auto;
  block-size: 100vh;
  min-height: 668px;
}

.footer__heading {
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 2px 2px 0px var(--title-accent);
  font-family: var(--font-family);
  font-style: var(--regular-font-style);
  font-weight: var(--bold-font-weight);
  line-height: 95.7px;
}

@media (width >=768px) {
  .footer__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}