:root {
  --background-color: #000028;
  --font-family: IBM Plex Mono, monospace;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --background-accent-color: #ff0070;
  --decoration-color: #ff0070;
  --header-shadow-color: #ff0070;
  --main-text-color: #ff0070;
  --second-color: #000028;
  --section-text-color: #f1b2ce;
  --footer-color: #db00ff;
  --footer-shadow-color: #ff0070;
  --button-color: #ff0070;
  --regular-font-style: normal;
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --theme-menu-hover-color: #ff0070;
  --theme-menu-color: #ff0070;
}
